.container {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    width: 100vw;
    height: 25vh;
    max-height: 25vh;
    /*border-bottom: rgb(252, 204, 4) 5px solid;*/
    position: absolute;
    top: 50vh;
    /*box-sizing: border-box;*/
    animation: slideName 1s backwards;
}

@keyframes slideName {
    from {
        top: 100vh;
    }

    to {
        top: 50vh;
    }
}

.nameContainer {
    all: unset;
    display: flex;
    align-items: center;
    font-size: 8vw;
    height: 25vh;
    padding: 0px 100px;
    color: white;
    /*border-right: rgb(252,204,4) 5px solid;
    box-sizing: border-box;*/
    font-weight: 600;
}
@media(max-width: 900px){
    .nameContainer{
        font-size: 8vw;
        padding: 0px 50px;
    }
}
@media(max-width: 600px){
    .nameContainer{
        font-size: 8vw;
        padding: 0px 50px;
    }
}