.container {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    width: 100vw;
    height: 25vh;
    /*border-bottom: rgb(252, 204, 4) 5px solid;*/
    position: absolute;
    top: 25vh;
    /*box-sizing: border-box;*/
    animation: slideTitle 0.5s backwards;
}

@keyframes slideTitle {
    from {
        top: 100vh;
    }

    to {
        top: 25vh;
    }
}

.titleContainer2 {
    display: none;
}

.titleContainer1 {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    height: 25vh;
    color: white;
    width: 86.8vw;
    box-sizing: border-box;
    font-weight: 600;
}

.link {
    width: 13vw;
    max-width: 13vw;
    height: 25vh;
    /*border-left: rgb(252, 204, 4) 5px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.contactImg {
    width: 10vw;
    max-width: 10vw;
    height: 20vh;
    max-height: 20vh;
}

.contactTitle {
    all: unset;
    display: none;
}

.contactImg:hover {
    transform: scale(0.9);
}

@media(max-width: 900px) {
    .titleContainer1 {
        display: none;
    }

    .titleContainer2 {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        color: white;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 8vw;
        padding: 0px 50px;
        width: 66.6vw;
        max-width: 66.6vw;
    }

    .link {
        width: 33vw;
        max-width: 33vw;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .contactImg {
        width: 25vw;
        max-width: 25vw;
        height: 15vh;
        max-height: 15vh;
    }

    .contactTitle {
        display: flex;
        justify-content: center;
        width: 33vw;
        max-width: 33vw;
        height: 2vh;
        max-height: 2vh;
        color: white;
        margin: 1vh 0 0 0;
        font-size: 4vw;
    }
}

@media(max-width: 600px) {
    .titleContainer {
        font-size: 8vw;
        padding: 0px 50px;
        width: 60vw;
        max-width: 60vw;
    }
    @media(max-width: 600px){
        .contactImg {
            width: 25vw;
            max-width: 25vw;
            height: 14vh;
            max-height: 14vh;
        }
    }
}