body {
    background-size: 100vw 150vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 720px) {
    body {
        background-size: 160vw 100vh;
        background-position-x: -25vw;
        margin: 0;
        padding: 0;
        max-height: 100vh;
    }
    body::-webkit-scrollbar {
        background-color: transparent;
    }
    
    body::-webkit-scrollbar:vertical {
        width: 1vw;
    }
    
    body::-webkit-scrollbar-track {
        background-color: #161616;
    }
    
    body::-webkit-scrollbar-button {
        display: none;
    }
    
    body::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: rgb(252, 204, 4);
        border-radius: 20px;
        border: 2px solid rgb(252, 204, 4);
        margin: 1vw;
    }
}