.container {
    /*position: absolute;*/
    top: 25vh;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: slideProjects 0.5s backwards;
}

.buttonLeft, .buttonRight, .buttonLeftMin, .buttonRightMax {
    width: 5vw;
    height: 10vh;
}


.buttonLeftMin, .buttonRightMax{
    opacity: 0.5;
}

.buttonLeft:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttonRight:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttons {
    display: none;
}

.infoProjects {
    height: 75vh;
    max-height: 75vh;
    width: 76vw;
    max-width: 76vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;
}

.project {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76vw;
    max-width: 76vw;
    height: 75vh;
    max-height: 75vh;
}

.projectImg {
    all: unset;
    width: 72vw;
    max-width: 72vw;
    height: 75vh;
    max-height: 75vh;
    opacity: 0.5;
    display: block;
    border-top-left-radius: 8px;
}

.containerInfo {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    max-width: 65vw;
    height: 60vh;
    max-height: 60vh;
    text-align: center;
    position: absolute;
}

.containerInfo::before{
    content: "";
    position: absolute;
    inset: 20px;
    /*border: 5px solid rgb(252, 204, 4);*/
    opacity: 0;
    scale: 1.1;
    transition: opacity 0.25s,
    scale 0.25s;
}

.project:hover .containerInfo::before{
    opacity: 1;
    scale: 1;
}

.projectTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: last baseline;
    width: 50vw;
    max-width: 50vw;
    height: 15vh;
    max-height: 15vh;
    color: white;
    margin: 0;
    font-size: 7vw;
}

.projectTitleResponsive {
    display: none;
}

.projectLinkResponsive {
    display: none;
}

.projectDescriptionResponsive {
    display: none;
}

.projectDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 50vw;
    height: 25vh;
    max-height: 25vh;
    color: white;
    font-size: 2vw;
    margin: 0;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25s,
        translate 0.25s;
}

.projectLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    max-width: 12vw;
    height: 6.5vh;
    max-height: 6.5vh;
    text-decoration: none;
    font-size: 1.5vw;
    margin: 0;
    background-color: rgb(252, 204, 4);
    /*border: rgb(252, 204, 4) 4px solid;*/
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    color: #161616;
    font-weight: 700;
    position: relative;
    text-align: center;
}
.projectLink:hover{
    transform: scale(1.1);
}

.infoProjects:hover .projectImg {
    opacity: 0.2;
}

.infoProjects:hover .projectDescription {
    opacity: 1;
    translate: 0;
}

@media(max-width: 900px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-height: 100vh;
    }

    .infoProjects {
        width: 100vw;
        max-width: 100vw;
        height: 60vh;
        max-height: 60vh;
        margin: 0;
        flex-direction: column;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100vw;
        height: 36vh;
        max-height: 36vh;
    }

    .projectImg {
        display: flex;
        width: 100vw;
        max-width: 100vw;
        height: 36vh;
        max-height: 36vh;
    }

    .containerInfo {
        width: 100vw;
        max-width: 100vw;
        height: 34vh;
        max-height: 34vh;
        font-size: 2.5vw;
    }

    .projectTitle {
        display: none;
    }

    .projectLink {
        display: none;
    }

    .projectTitleResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100vw;
        height: 5vh;
        max-height: 5vh;
        color: white;
        font-size: 4vw;
        margin: 2vh 0 0 0;
    }

    .projectDescriptionResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100vw;
        height: 5vh;
        max-height: 5vh;
        color: white;
        font-size: 4vw;
        margin: 0.8vh 0;
    }

    .projectLinkResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        max-width: 40vw;
        height: 5vh;
        max-height: 5vh;
        font-size: 4vw;
        text-decoration: none;
        border: rgb(252, 204, 4) 3px solid;
        border-top-left-radius: 5vw;
        border-bottom-left-radius: 5vw;
        border-top-right-radius: 5vw;
        border-bottom-right-radius: 5vw;
        color: white;
        text-align: center;
        margin: 0 30vw;
    }

    .projectDescription {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        max-width: 90vw;
        height: 30vh;
        max-height: 30vh;
        color: white;
        font-size: 5vw;
        margin-top: 0;
        padding-top: 0;
    }

    .buttonLeft,
    .buttonRight {
        display: none;
    }

    .buttons {
        all: unset;
        display: flex;
        width: 100vw;
        max-width: 100vw;
        height: 15vh;
        max-height: 15vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .buttons>img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vw;
        max-width: 18vw;
        height: 15vh;
        max-height: 15vh;
        margin: 0 2vw;
        font-size: 15vw;
        background-color: transparent;
        color: rgb(252, 204, 4);
        border: none;
        cursor: pointer;
        box-sizing: border-box;
    }

    .buttons>img:hover {
        transform: scale(1.15);
    }
}

@media(max-width: 600px) {
    .projectDescription {
        font-size: 5vw;
        height: 28vh;
        max-height: 28vh;
        width: 90vw;
        max-width: 90vw;
    }

    .projectTitleResponsive{
        font-size: 7vw;
    }

    .projectImg {
        height: 30vh;
        max-height: 30vh;
    }

    .containerInfo {
        width: 100vw;
        max-width: 100vw;
        height: 30vh;
        max-height: 30vh;
        font-size: 2.5vw;
    }

}

@keyframes slideProjects {
    from {
        top: 100vh;
    }

    to {
        top: 25vh;
    }
}