@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #161616;
    overflow-x: hidden;
    font-family: "JetBrains Mono", "Fira Code", "monospace";
}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar:vertical {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: #161616;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #6a6a6a;
    border-radius: 20px;
    border: 2px solid #6a6a6a;
    margin: 1vw;
}

textarea::-webkit-scrollbar {
    background-color: transparent;
}

textarea::-webkit-scrollbar:vertical {
    width: 16px;
}

textarea::-webkit-scrollbar-track {
    background-color: #161616;
}

textarea::-webkit-scrollbar-button {
    display: none;
}

textarea::-webkit-scrollbar:horizontal {
    height: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #6a6a6a;
    border-radius: 20px;
    border: 2px solid #6a6a6a;
    margin: 1vw;
    cursor:default;
}